body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: rgb(21, 80, 117);
  background-color: rgb(60, 119, 155);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.column_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
}

.cards_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_item {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(80, 107, 124);
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 0px 0px rgba(21, 80, 177, 0.3);
  cursor: grab;
}

.card_item.dragged {
  z-index: 999;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0.5;
  cursor: grabbing;
}

.card_placeholder {
  height: 60px; /* или динамически под размер карточки */
  background: rgba(0, 0, 0, 0.1);
  border: 2px dashed #ccc;
  border-radius: 4px;
  margin: 5px 0;
  transition: height 0.2s;
}

.btn {
  margin-top: 10px;
  color: rgb(21, 80, 117);
  background: none;
  border: none;
}
.btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.add_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(80, 107, 124);
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 0px 0px rgba(21, 80, 177, 0.3);
}

.card_input {
  border: 2px solid rgb(60, 119, 155);
  border-radius: 2px;
  color: rgb(21, 80, 117);
}

.card_input::placeholder {
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(202, 201, 201);
}

.add_card_button {
  padding: 5px;
  background-color: rgb(108, 209, 135);
  border-radius: 2px;
  border: none;
}

.close_form_button {
  padding: 5px;
  background-color: rgb(209, 108, 108);
  border-radius: 2px;
  border: none;
}

.add_button {
  margin-top: auto;
  margin-right: auto;
}

.delete_card_button {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 3px;
  border: 2px solid rgb(60, 119, 155);
  border-radius: 5px;
  color: rgb(21, 80, 117);
  background-color: white;
  cursor: pointer;
}

.form_error {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(202, 45, 45);
  padding: 3px;
  background-color: rgb(250, 234, 234);
  border-radius: 3px;
  box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.3);
}